.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.helloDiv{
  width: 500px;
  height: 500px;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  border: 2px solid rgb(245, 245, 245);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  position: absolute;
  top: 200px;
  left:500px;
  padding: 0;
  margin: 0;
}

.logo{
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.myText{
  position: absolute;
  top: 100px;

  .task{
    color: red;
    font-weight: bold;
    font-size: 20px;
  }
}

.clickMeButton{
  background-color: aqua;
  width: 100px;
  height: 100px;
}

